
<div class="relative overflow-hidden px-6 py-24 sm:py-32 lg:px-0 bg-gray-900">
  <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 lg:mx-0 lg:max-w-none lg:grid-cols-2 lg:items-start lg:gap-y-10">
    <div class="lg:col-span-2 lg:col-start-1 lg:row-start-1 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8">
      <div class="lg:pr-4">
        <div class="lg:max-w-lg">
          <div class="flex flex-wrap space-x-4">
            <p class="text-base font-semibold leading-7 text-indigo-600"><%= @job&.location&.humanize %></p>
            <p class="text-base font-semibold leading-7 text-indigo-600"><%= @job.resolved_salary %></p>
            <% unless @job.experience ==  "any" %>
              <p class="text-base font-semibold leading-7 text-indigo-600"><%= @job&.experience&.humanize %></p>
            <% end %>
            <p class="text-base font-semibold leading-7 text-indigo-600"><%= @job&.employment_type&.humanize %></p>
          </div>
          <h1 class="mt-2 text-3xl font-bold tracking-tight text-white sm:text-4xl"><%= @job.title %></h1>
        </div>
      </div>
    </div>
    <div class="lg:block hidden pr-8 lg:block p-8 lg:sticky lg:top-4 lg:col-start-2 lg:row-span-2 lg:row-start-1 lg:overflow-hidden bg-gray-800 rounded-lg shadow-lg hover:shadow-xl transition-shadow duration-300 mr-4 lg:mr-8"> <!-- Adjusted Margin -->
      <div class="flex items-center mb-4">
        <% if @job.company.logo.present? %>
          <%= image_tag @job.company.logo, class: "h-12 w-12 rounded-full" %>
        <% else %>
          <img class="h-12 w-12 rounded-full" src="https://via.placeholder.com/150" alt="Company Logo">
      <% end %>
        <h2 class="ml-4 text-2xl font-bold text-white"><%= @job.company.name %></h2>
      </div>
      <p class="text-gray-300 mb-4"><%= @job.company.description %></p>
      <div class="mt-4">
        <ul class="mt-2 flex space-x-4 text-gray-300">
          <% if @job.company.linkedin.present? %>
            <li>
              <a href="<%= @job.company.linkedin %>" class="text-indigo-400 hover:underline" target="_blank">LinkedIn</a>
            </li>
          <% end %>
          <% if @job.company.career_page.present? %>
            <li>
              <a href="<%= @job.company.career_page %>" class="text-indigo-400 hover:underline" target="_blank">Career Page</a>
            </li>
          <% end %>
          <% if @job.company.x.present? %>
            <li>
              <a href="<%= @job.company.x %>" class="text-indigo-400 hover:underline" target="_blank">X (Twitter)</a>
            </li>
          <% end %>
        </ul>
        <div class="mt-4">
          <a href="<%= @job.apply_link %>" class="block w-full px-4 py-2 text-center text-white bg-blue-500 hover:bg-blue-600 rounded-lg" target="_blank">Apply Now</a>
        </div>
      </div>
    </div>
    <div class="lg:col-span-2 lg:col-start-1 lg:row-start-2 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8">
      <div class="lg:pr-4">
        <div class="max-w-xl text-base leading-7 text-gray-300 lg:max-w-lg job-description">
          <%= raw @job.description %>
        </div>
      </div>
    </div>
  </div>
  <div class="fixed inset-x-0 bottom-0 lg:hidden bg-blue-500 text-white text-center py-3">
    <a href="<%= @job.apply_link %>" class="w-full block px-4 py-2 text-center text-white hover:bg-blue-600 rounded-lg" target="_blank">Apply Now</a>
  </div>
</div>

<style>
    .job-description a {
        color: white; /* Link text color */
        text-decoration: underline; /* Underline the link */
    }

    .job-description a:hover {
        color: #6366f1; /* Optional: Tailwind Indigo 500 color on hover */
    }
</style>




