<div class="bg-gray-900 px-6 py-12 lg:px-8">
  <div class="max-w-screen-lg mx-auto text-center">
    <div class="flex justify-between items-center">
      <h2 class="text-2xl font-semibold tracking-tight text-white mb-6">Your Companies</h2>
      <%= link_to "New Company", new_company_path, class:"rounded-md bg-blue-500 px-4 py-2 text-white font-semibold hover:bg-blue-400 transition-colors duration-300" %>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6">
      <% @companies.each do |company| %>
        <div class="cursor-pointer bg-gray-800 rounded-lg shadow-md p-4 flex flex-col items-center hover:bg-gray-700 transition-colors duration-300">
          <!-- Company Logo -->
        <% if company.logo.present? %>
          <%= image_tag company.logo, class:"h-16 w-16 rounded-full mb-4" %>
        <% else %>
          <img src="https://via.placeholder.com/64" alt="Default Logo" class="h-16 w-16 rounded-full mb-4">
        <% end %>
        <!-- Company Name with truncation -->
        <h3 class="text-lg font-semibold text-white mb-2 overflow-hidden text-ellipsis whitespace-nowrap" title="<%= company.name %>">
          <%= company.name %>
        </h3>
        
        <!-- Action Buttons -->
        <div class="flex mt-4 space-x-2">
          <!-- New Job Button -->
          <%= link_to "New Job", new_job_path(company_id: company.id), class:"rounded-md bg-green-500 px-3 py-1 text-sm text-white font-semibold transition-transform duration-200 transform hover:bg-green-400 hover:scale-105 hover:shadow-lg" %>

          <!-- Edit Company Button -->
          <%= link_to "Edit", edit_company_path(company), class:"rounded-md bg-yellow-500 px-3 py-1 text-sm text-white font-semibold transition-transform duration-200 transform hover:bg-yellow-400 hover:scale-105 hover:shadow-lg" %>
        </div>
      </div>
      <% end %>
    </div>
    <div class="mt-10">

<div class="flex items-center mb-4 space-x-4">
  <h3 class="text-white">Filter by:</h3>

  <div class="relative inline-block text-left">
    <div>
      <button id="filter-menu-button" type="button" class="inline-flex justify-center gap-x-1.5 rounded-md bg-gray-800 px-3 py-2 text-sm font-semibold text-white shadow-sm ring-1 ring-inset ring-gray-700 hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-indigo-500" id="menu-button" aria-expanded="true" aria-haspopup="true">
        Company
        <svg id="filter-dropdown-arrow" class="-mr-1 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
        </svg>
      </button>
    </div>

    <div id="filter-dropdown-menu" class="hidden absolute right-0 z-10 mt-2 w-56 origin-top-right rounded-md bg-gray-800 shadow-lg ring-1 ring-gray-700 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
      <div class="py-1" role="none">
        <!-- Active: "bg-gray-700 text-white", Not Active: "text-gray-300" -->
        <a href="#" class="block px-4 py-2 text-sm text-gray-300 hover:bg-gray-700 hover:text-white" role="menuitem" tabindex="-1" id="menu-item-0">Account settings</a>
        <a href="#" class="block px-4 py-2 text-sm text-gray-300 hover:bg-gray-700 hover:text-white" role="menuitem" tabindex="-1" id="menu-item-1">Support</a>
        <a href="#" class="block px-4 py-2 text-sm text-gray-300 hover:bg-gray-700 hover:text-white" role="menuitem" tabindex="-1" id="menu-item-2">License</a>
        <form method="POST" action="#" role="none">
          <button type="submit" class="block w-full px-4 py-2 text-left text-sm text-gray-300 hover:bg-gray-700 hover:text-white" role="menuitem" tabindex="-1" id="menu-item-3">Sign out</button>
        </form>
      </div>
    </div>
  </div>
</div>

    </div>
  </div>
</div>
<div class="max-w-4xl mx-auto p-4 mt-1">
  <%= render "jobs/partials/table" %>
</div>

<%= custom_pagy_nav(@pagy) %>

<div class="pb-8">

</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const filterMenuButton = document.getElementById('filter-menu-button');
    const filterDropdownMenu = document.getElementById('filter-dropdown-menu');
    const filterDropdownArrow = document.getElementById('filter-dropdown-arrow');

    filterMenuButton.addEventListener('click', function () {
      // Toggle filter dropdown visibility
      filterDropdownMenu.classList.toggle('hidden');
      // Toggle the arrow rotation
      filterDropdownArrow.classList.toggle('rotate-180');
    });

    // Close the filter dropdown if clicked outside
    document.addEventListener('click', function (event) {
      if (!filterMenuButton.contains(event.target) && !filterDropdownMenu.contains(event.target)) {
        filterDropdownMenu.classList.add('hidden');
        filterDropdownArrow.classList.remove('rotate-180');
      }
    });
  });
</script>
