<div class="bg-gray-900 py-10">
  <table class="mt-6 w-full whitespace-nowrap text-left">
    <colgroup>
      <col class="w-full sm:w-4/12">
      <col class="lg:w-4/12">
      <col class="lg:w-2/12">
      <col class="lg:w-1/12">
      <col class="lg:w-1/12">
    </colgroup>
    <thead class="border-b border-white/10 text-sm leading-6 text-white">
    <tr>
      <th scope="col" class="py-2 pl-4 pr-8 font-semibold sm:pl-6 lg:pl-8">Company</th>
      <th scope="col" class="hidden py-2 pl-0 pr-8 font-semibold sm:table-cell">Job</th>
      <th scope="col" class="hidden py-2 pl-0 pr-8 font-semibold md:table-cell lg:pr-20"></th>
      <th scope="col" class="hidden py-2 pl-0 pr-4 text-right font-semibold sm:table-cell sm:pr-6 lg:pr-8"></th>
    </tr>
    </thead>
    <tbody class="divide-y divide-white/5">
    <% @jobs.each do |job| %>
    <tr>
      <td class="py-4 pl-4 pr-8 sm:pl-6 lg:pl-8">
        <div class="flex items-center gap-x-4">
          <% if job.company.logo.present? %>
            <%= image_tag job.company.logo, class: "h-8 w-8 rounded-full bg-gray-800" %>
        <% else %>
            <img src="https://images.unsplash.com/photo-1519244703995-f4e0f30006d5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="" class="h-8 w-8 rounded-full bg-gray-800">
        <% end %>
          <div class="truncate text-sm font-medium leading-6 text-white"><%= job.company.name %></div>
        </div>
      </td>
      <td class="hidden py-4 pl-0 pr-4 sm:table-cell sm:pr-8">
        <div class="flex gap-x-3">
          <div class="truncate text-sm font-medium leading-6 text-white"><%= job.title %></div>
        </div>
      </td>
      <td class="hidden py-4 pl-0 pr-8 text-sm leading-6 text-gray-400 md:table-cell lg:pr-20">
        <%= link_to "Edit", edit_job_path(job) %>
      </td>
      <td class="hidden py-4 pl-0 pr-4 text-right text-sm leading-6 text-white sm:table-cell sm:pr-6 lg:pr-8">
        <% if job.active? %>
          <span>Active</span>
        <% else %>
          <%= link_to "Publish", "#", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
      <% end %>
      </td>
    </tr>
    <% end %>
    </tbody>
  </table>
</div>
