<% @jobs.each do |job| %>
  <%= link_to job_path(job) do %>
  <div class="cursor-pointer cursor-pointer sm:rounded-lg flex flex-col sm:flex-row items-center justify-between border-b border-gray-700 py-6 px-6 sm:px-8 space-y-6 sm:space-y-0 hover:bg-gray-800 transition-colors duration-200 mb-8 sm:mb-10">
    <div class="flex items-start sm:items-center space-x-6 w-full">
      <!-- Logo with fixed size -->
      <div class="flex-shrink-0">
        <% if job.company.logo.present? %>
          <%= image_tag job.company.logo, class:"h-16 w-16 rounded-full mb-4" %>
        <% else %>
          <img src="https://via.placeholder.com/64" alt="Company Logo" class="h-14 w-14 rounded-full">
        <% end %>
      </div>
      <!-- Title, company, salary, and location -->
      <div class="flex-grow">
        <!-- Job Title -->
        <h3 class="text-xl font-semibold <%= job.active? ? 'text-white' : 'text-gray-500' %> break-words"><%= job.title %></h3>
        <!-- Company Name -->
        <p class="text-sm <%= job.active? ? 'text-gray-300' : 'text-gray-500' %>"><%= job.company.name %></p>
        <!-- Salary Range and Location -->
        <p class="text-sm text-gray-400 mt-2">
          <span class="font-medium <%= job.active? ? 'text-white' : 'text-gray-500' %>"><%= job.resolved_salary %></span>
          <span class="text-gray-400"> - <%= display_location(job.location) %></span>
        </p>
      </div>
    </div>
    <!-- Date Posted -->
    <div class="text-base text-gray-400 sm:text-sm flex-shrink-0">
      Posted on: <span class="font-medium text-gray-200"><%= job.created_at.strftime("%B %d") %></span>
    </div>
  </div>
<% end %>
<% end %>





