<header class="bg-gray-900">
  <nav class="mx-auto flex max-w-10xl items-center justify-between p-6 lg:px-8" aria-label="Global">
    <div class="flex lg:flex-1">
      <a href="<%= root_path %>" class="-m-1.5 p-1.5">
        <span class="sr-only">Your Company</span>
        <div class="lg:text-4xl text-3xl font-bold">
          <span class="text-blue-500">Go</span><span class="text-white">Remotely</span>
        </div>
      </a>
    </div>
    <div class="flex lg:hidden">
      <button id="mobile-menu-button" type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-400">
        <span class="sr-only">Open main menu</span>
        <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
      </button>
    </div>
    <div class="hidden lg:flex lg:flex-1 lg:justify-end space-x-8">
      <%= link_to "Companies", companies_path, class: "font-semibold leading-6 text-white" %>
      <%= link_to "Remote Jobs", remote_jobs_jobs_path, class: "font-semibold leading-6 text-white" %>
      <% if current_user %>
        <%= render "layouts/partials/user_dropdown" %>
      <% else %>
        <%= link_to "Log in", new_session_path(resource_name), class: "font-semibold leading-6 text-white ml-auto" %>
      <% end %>
        <%= link_to "POST A JOB", your_companies_companies_path, class: "rounded-md bg-blue-500 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-blue-600" %>
    </div>
  </nav>
  <!-- Mobile menu, show/hide based on menu open state. -->
  <div id="mobile-menu" class="lg:hidden hidden" role="dialog" aria-modal="true">
    <!-- Background backdrop, show/hide based on slide-over state. -->
    <div class="fixed inset-0 z-10"></div>
    <div class="fixed inset-y-0 right-0 z-10 w-full overflow-y-auto bg-gray-900 px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-white/10">
      <div class="flex items-center justify-between">
        <div class="text-3xl font-bold">
          <span class="text-blue-500">Go</span><span class="text-white">Remotely</span>
        </div>
        <button id="close-menu-button" type="button" class="-m-2.5 rounded-md p-2.5 text-gray-400">
          <span class="sr-only">Close menu</span>
          <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
      <div class="mt-6 flow-root">
        <div class="-my-6 divide-y divide-gray-500/25">
          <div class="space-y-2 py-6">
            <%= link_to "Companies", companies_path, class: "-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-white hover:bg-gray-800" %>
            <%= link_to "Remote Jobs", remote_jobs_jobs_path, class: "-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-white hover:bg-gray-800" %>
            <% if current_user %> 
              <%= link_to "Your Companies", your_companies_companies_path, class: "-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-white hover:bg-gray-800" %>
              <%= link_to "Settings", user_settings_path, class: "-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-white hovver:bg-gray-800" %>
            <% end %>
          </div>
          <div class="py-6">
            <%= link_to "POST A JOB", your_companies_companies_path, class: "rounded-md bg-blue-500 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-blue-600" %>
            <% if current_user %>
              <%= link_to "Log out", destroy_user_session_path, class: "-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-white hover:bg-gray-800" %>
            <% else %>
              <%= link_to "Log in", new_session_path(resource_name), class: "-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-white hover:bg-gray-800" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<script>
// Check if variables are not already declared
if (typeof mobileMenuButton === 'undefined') {
  const mobileMenuButton = document.getElementById('mobile-menu-button');
  const closeMenuButton = document.getElementById('close-menu-button');
  const mobileMenu = document.getElementById('mobile-menu');

  if (mobileMenuButton && closeMenuButton && mobileMenu) {
    mobileMenuButton.addEventListener('click', () => {
      mobileMenu.classList.toggle('hidden');
    });

    closeMenuButton.addEventListener('click', () => {
      mobileMenu.classList.add('hidden');
    });
  }
}
</script>
